<form action="/item" method="POST">
  <input type="text" placeholder="content" name="content">
  <label>Completed?</label>
  <input type="checkbox" value="true" name="status" id="" /><br>
  <input type="submit">
</form>